<% if @result["errors"] %>        
        <p class="text-danger"> <%= 'User Not Found ¯\_(ツ)_/¯' %> </p>
<% elsif @result["data"]["user"]["repositories"]["nodes"].empty? %>
        <p class="text-danger"> <%= 'This User has no Repositories yet!' %> </p>
<% else %>
        <%= render partial: "page" %>
<% end %>